<!DOCTYPE html>
<html>
<head>
    <title>Shortlink It</title>
    <link href="<%= url('/css/style.css') %>" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="container">

        <h1>shortlink it</h1>
        <form method="post" action="/shortcode">
            <input type="text" value="<%= h(params[:url]) %>" name="url" id="url" />
            <input type="submit" value="shorten" id="submit" />
        </form>
        <div class="clear"></div>

        <h1>lookup shortlink</h1>
        <form method="post" action="/lookup">
            <input type="text" value="<%= h(params[:url]) %>" name="url" id="url" />
            <input type="submit" value="lookup" id="submit" />
        </form>
        <div class="clear"></div>

    </div>
</body>