<!DOCTYPE html>
<html>
<head>
    <title>Shortlink App</title>
    <link href="<%= url('/css/style.css') %>" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="container">
        <h1>lookup shortlink</h1>
        <form method="post">
            <input type="text" value="<%= h(params[:url]) %>" name="url" id="url" />
            <input type="submit" value="lookup" id="submit" />
        </form>
        <div class="clear"></div>
        <% if @url %>
        <div class="result">
            I found this:
            <a href="<%= @url %>">http://<%= @url %></a>
        </div>
        <% end %>
    </div>
</body>